.sidebar{
    background-color: #171717;
    color: #b4b4b4;
    height: 100vh;
    width: 320px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

button{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    background-color: transparent;
    border: solid rgb(255, 255, 255, 0.5);
}

.logo{
    height: 25px;
    width: 25px;
    background-color: #fff;
    border-radius: 50%;
    object-fit: cover;
}

button span{
    font-size: 20px;

}

button:hover{
    background-color: rgb(255, 255, 255, 0.5);
}
.history{
    margin: 10px;
    padding: 10px;
    height: 100%;
}

.history li{
    list-style: none;
    cursor: pointer;
    padding: 2px 5px;
    margin-bottom: 0.3rem;
    font-size: 14px;
    border: solid 10px transparent;
    position: relative;
}